{% extends 'main.html' %}
{% load static %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
    <link rel="stylesheet"  type="text/css" href="{% static 'css/contact_us.scss' %}">
    <div class="center">
  <div class="container">
      <h1 class="title">Contact first ☝️</h1>
      <div class="form form__1">
        <label for="name" class="form__label">Full name</label>
        <input type="text" class="form__input" placeholder="" id="name" required>
      </div>

      <div class="form form__2">
        <label for="email" class="form__label">Email address</label>
        <input type="email" class="form__input" placeholder="" id="email" required>
      </div>

      <div class="form form__3">
        <label for="message" class="form__label">Your message</label>
        <input type="text" class="form__input" placeholder="" id="message" required>
      </div>

      <button class="form__btn">
        <span class="form__btn--visible"><p>Submit</p>
          <i class="material-icons">arrow_forward</i>
        </span>
        <span class="form__btn--invisible">Message sent!</span>
      </button>

    <div class="container-mail">
      <div class="mail">
        <div class="mail__back"></div>
        <div class="mail__top"></div>
        <div class="mail__letter">
          <div class="mail__letter-square">
          </div>
          <div class="mail__letter-lines">
          </div>
        </div>
        <div class="mail__left"></div>
        <div class="mail__right"></div>
        <div class="mail__bottom"></div>
      </div>
    </div>
  </div>
</div>
    <script src="{% static 'js/contact_us.js' %}"></script>
{% endblock %}