{% extends 'main.html' %}

{% block title %}
	Home
{% endblock %}

{% block content %}
    <div class="container mt-3">
      <h2 class="text-light" style="text-align: center">Welcome to Songs World</h2>
      <p class="text-light" style="text-align: center">There You can find all musics and songs in 2024</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Song Name</th>
            <th>Song Author</th>
            <th>For Play</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ти и Я</td>
            <td>Xcho</td>
            <td><a href="">Play</a></td>
          </tr>
        </tbody>
      </table>
</div>


{% endblock %}